*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-style: normal;
    text-decoration: none;
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.glavnaya{
    background: #EEEFF1;
}
.header__nav{
    height: 79px;
    display: flex;
    align-items: center;
}
.header__title{
    text-transform: uppercase;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
    padding-left: 402px;
    padding-right: 330px;
}
.header__list{
    display: flex;
}
.header__link{
    position: relative;
    display: block;
    margin-right: 42px;
    font-size: 16px;
    line-height: 26px;
    color: #000;
}
.header__link:hover{
    color:#34547A;
}
.block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 162px;
}
.block-left{
    position: relative;
    width: 357px;
    height: 233.7px;
}
.block-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 60px;
}
.block-right__title{
    font-size: 48px;
    line-height: 79px;
    display: block;
    margin-right: 186px;
}
.block-right__descr{
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.block-right__link{
    padding: 25px 41px;
    background: #34547A;
    display: block;
    margin-right: 333px;
    margin-bottom: 50px;
}
.link{
    color: #fff;
}
.header__about-me{
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me__title{
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    padding-top: 119px;
    padding-bottom: 50px;
}
.about-me__descr{
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 100px;
}
.header__project{
    background:#34547A;
    height: 250px;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project__block{
    display: flex;
    padding: 100px 50px 100px 0;
}
.project-mini{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    gap: 10px;
}
.project__title{
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.project__descr{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills__left{
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills__title{
    font-size: 32px;
    line-height: 37px;
    padding-bottom: 50px;
}
.skills__descr{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-left: 295px;
}
.skills__img{
    position: relative;
    top: -19px;
    left: 295px;
}
.skills-img{
    margin-left: 295px;
}
.skills__right{
    max-width: 960px;
    width: 100%;
    padding-top: 102px;
    margin-bottom: 101px;
}
.how-i-work{
    background: #EEEFF1;
    height: 1004px;
}
.work__words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work__words-title{
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-top: 100px;
}
.work__words-descr{
    max-width: 540px;
    width: 100%;
    height: 67px;
    margin-top: 50px;
    margin-bottom: 57px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.work__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work__img-bg{
    position: absolute;
    margin-top: 304px;
    margin-bottom: 100px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work__img-play{
    position: absolute;
    margin-top: 307px;
}
.images__microsift{
    height: 1000px;
    max-width: 1920px;
    width: 100%;
}
.images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 28px;
}
.images__single{
    width: 370px;
    height: 370px;
}
.microsoft{
    display: flex;
    justify-content: center;
    align-items: center;
}
.microsoft__single{
    margin-top: 72px;
    margin-bottom: 100px;
    width: 255px;
    height: 120px;
    margin-right: 30px;
}
.web{
    background: #EEEFF1;
    height: 762px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.web__words-descr{
    margin-bottom: 65px !important;
}
.web__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    border: none;
    height: 50px;
    width: 255px;
    padding-left: 20px;
}
.form__top{
    margin-bottom: 20px;
}
.form__1{
    margin-right: 30px;
}
.form__bottom{
    width: 540px;
    height: 175px;
    margin-bottom: 50px;
}
.form__txt{
    border: none;
    padding-left: 20px;
    padding-bottom: 125px;
    width: 100%;
    height: 100%;
}
.web__btn{
    display: flex;
    justify-content: center;
    background: #34547A;
    width: 190px;
    height: 55px;
    margin-bottom: 100px;
}
.btn{
    color: #fff;
}
.footer__content{
    height: 151px;
    background: #34547A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__words{
    margin-left: 125px;
}
.footer__title{
    font-weight: 500;
    font-size: 21px;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer__descr{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px; 
    color: #FFFFFF;
    margin-bottom: 50px;
}
.footer__img{
    margin-right: 21.87px;
}





@media(max-width: 1510px){
    .header__title{
        padding-left: 330px;
        padding-right: 330px;
    }
    .skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills__title{
        padding-top: 50px;
    }
    .skills__right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skills__left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .work__img-bg{
        width: 1000px;
        height: 500px;
    }
    .work__img-play{
        height: 75px;
        width: 75px;
    }
    .images__single{
        width: 333px;
        height: 333px;
    }
}
@media(max-width: 1341px){
    .images__single{
        width: 320px;
        height: 320px;
    }
    .header__title{
        padding-left: 240px;
        padding-right: 240px;
    }
}
@media(max-width: 1310px){
    .image__none{
        display: none;
        grid-template-columns: repeat(3);
    }
}
@media(max-width: 1161px){
    .header__title{
        padding-left: 165px;
        padding-right: 165px;
    }
    .block{
        flex-direction: column;
    }
    .block-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .block-right__title{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
    }
    .block-right__link{
        margin-right: 0;
    }
    .image__none-1{
        display: none;
    }
}
@media(max-width: 1010px){
    .images__microsift{
        height: 400px;
    }
    .how-i-work{
        height: 740px;
    }
    .work__img-bg{
        margin-top: 190px;
        width: 800px;
        height: 400px;
    }
    .work__img-play{
        margin-top: 181px;
    }
    .header__title{
        padding-left: 150px;
        padding-right: 150px;
    }
    .image__none-mic{
        display: none;
    }
    .image__none-img{
        display: none;
    }
    .images__single{
        width: 200px;
        height: 200px;
    }
    .images{
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 980px){
    .header__link{
        font-size: 12px;
    }
    .block{
        padding-top: 100px;
    }
    .header__about-me{
        height: 270px;
    }
    .about-me__title{
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .header__project{
        height: 100px;
        display: flex;
        justify-content: center;
    }
    .how-i-work{
        height: 570px;
    }
    .work__words-title{
        margin-top: 50px;
    }
    .work__words-descr{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .work__img-bg{
        width: 600px;
        height: 300px;
    }
    .images__microsift{
        height: 300px;
    }
    .microsoft__single{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 150px;
        height: 65px;
    }
    .web{
        height: 750px;
    }
    .image__none-2{
        display: none;
    }
}
@media(max-width: 884px){
    .header__title {
        padding-left: 120px;
        padding-right: 100px;
    }
    .skills__img{
        top: 0;
        left: -305px;
        width: 200px;
    }
    .skills-img{
        width: 300px;
    }
    .skills__right-img{
        width: 260px;
        height: 250px;
    }
    .skills__descr{
        padding-left: 240px;
    }
    .skills-img{
        margin-left: 240px;
    }
    .work__img-bg{
        width: 400px;
        height: 200px;
        margin-top: 140px;
    }
    .work__img-play {
        height: 50px;
        width: 50px;
    }
    .work__words-descr {
        max-width: 350px;
        width: 100%;
    }
    .work__img-play{
        margin-top: 135px;
    }
    .how-i-work{
        height: 475px;
    }
    .images__single {
        width: 150px;
        height: 150px;
    }
}
@media(max-width: 799px){
    .about-me__descr {
        width: 350px;
    }
    .work__img-bg {
        width: 300px;
        height: 150px;
        margin-top: 140px;
    }
    .microsoft__single{
        width: 100px;
        height: 50px;
    }
    .images__single {
        width: 100px;
        height: 100px;
    }
    .header__link{
        font-size: 10px;
    }
    .header__list{
        flex-wrap: wrap;
    }
    .header__title {
        padding-left: 100px;
        padding-right: 70px;
    }
    .glavnaya__img{
        width: 200px;
    }
    .block-left{
        width: 200px;
        height: 100px;
    }
    .block-right{
        gap: 20px;
    }
    .block-right__descr{
        width: 350px;
        text-align: center;
    }
    .form__top {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
        width: 350px;
    }
    .web__form{
        align-items: flex-start;
    }
    .form__bottom{
        width: 350px;
    }
    .form__1{
        margin: 0;
    }
    .form{
        width: 100%;
    }
    .block-right__title, .about-me__title, .skills__title, .work__words-title{
        font-size: 30px;
    }
    .images__microsift{
        height: 300px;
    }
    .project__block {
        width: 160px;
    }
    .skills__img{
        top: -18px;
        left: 240px;
    }
}
@media(max-width: 500px){
    .image__none-3{
        display: none;
    }
    .skills-img {
        margin-left: 90px;
    }
    .skills__img {
        top: -18px;
        left: 90px;
    }
    .skills__descr {
        padding-left: 90px;
    }
    .microsoft{
        display: none;
    }
    
}
@media (max-width: 430px){
    .skills-img {
    margin-left: 45px;
    }
    .skills__img {
        left: 45px;
    }
    .skills__descr{
        padding-left: 45px;
    }
    .images__single {
        width: 125px;
        height: 125px;
    }
    .form__bottom {
        width: 300px;
    }
    .form__top{
        width: 300px;
    }
    .skills-img {
        margin-left: 40px;
        width: 250px;
    }
    .skills__img {
        left: 40px;
        width: 200px;
    }
    .skills__right-img {
        height: 200px;
    }
    .skills__right {
        padding-top: 40px;
        margin-bottom: 50px;
    }
    .footer__content {
        height: 250px;
        background: #34547A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__words {
        margin-left: 0;
    }
    .footer__descr{
        margin-bottom: 30px;
    }
}